$primary-dark: rgb(28, 28, 28);
$primary-text-dark: rgba(247, 244, 244, 0.87);

$primary-light: rgb(189, 189, 189);
$primary-text-light: rgb(28, 28, 28);

$theme-icon-dark: rgb(249, 249, 198);
$theme-icon-light: rgb(203, 200, 7);
